* {
  margin: 0xp;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
}

.navbar > h1 {
  font-size: 24px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu .menu-item {
  padding: 0px 30px;
  cursor: pointer;
}

.menu .menu-item:hover {
  font-weight: 500;
}

.menu-item > a {
  text-decoration: none;
  color: #000;
}

.main-container {
  display: flex;
  justify-content: center;
}

/* FORM LIST */

.container {
  width: 1200px;
  margin: 30px 0px;
}

.btn {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.create-btn {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.create-btn:hover {
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* LIST CONTAINER */

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-list {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  font-weight: 500;
}

.form-name:hover {
  font-weight: 600;
}

.action {
  cursor: pointer;
  padding: 5px;
}

.action:hover {
  color: red;
}

/* FORM */
.form-main-container {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  background-color: #ccc;
  padding: 32px;
  border-radius: 8px;
  margin-top: 30px;
  width: 1000px;
}

.field {
  display: flex;
  margin-top: 14px;
}

.filed-label {
  margin-right: 50px;
  width: 200px;
}

.field-type {
  /* background-color: red; */
  width: 500px;
}

.field-type > input,
select {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  width: 250px;
}

.checkbox-label,
.radio-label {
  margin-right: 24px;
}

.form-container > .submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-container > .submit-btn > button {
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.form-container > .submit-btn > button:hover {
  border: 1px solid #000;
}

/* FORM BUILDER */

.form-builder-container {
  margin-top: 30px;
}

/* ABOUT */
.about-container {
  width: 1200px;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.75);
}

.about-heading {
  margin-top: 40px;
}
.about-ul {
  margin-left: 30px;
}
.about-ul > li {
  margin-bottom: 14px;
}
